* {padding: 0; margin: 0;}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
#hd{height:50px;background-color:#aaa;}
#bd{zoom:1;overflow:hidden;margin:10px 0;padding-right:310px;}
#main{float:left;width:100%; border-right: 1px solid #CCC;}
#aside{float:left;width:300px;margin:0 -311px 0 10px;background-color:#fff;}
#ft{height:1500px;background-color:#bbb;}

#inner .title { background: #fff; padding: 20px;}
#inner .news { width: 900px; height: 700px; padding: 20px; background: #EEE;}

#sideCatalog {
	width: 270px;
	height: 355px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 宋体;
	line-height: 19px;
	position: fixed;
	_position: absolute;
	top: 90px;
	right: 20px;
	zoom: 1;
	_margin-top: 90px;
    _top: expression(eval(document.documentElement.scrollTop+ 0 +(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    _right: 20px;
}

#sideCatalog #sideCatalog-sidebar {
	top: 0;
	width: 0;
	height: 353px;
	background-color: #eaeaea;
	border: 1px solid #eaeaea;
	border-top: 0;
	border-bottom: 0;
	position: absolute;
	left: 5px;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top, 
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
	position: absolute;
	left: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(../../img/sideToolbar.gif) 0 -199px no-repeat;
	zoom: 1;
	overflow: hidden;
}

#sideCatalog-sidebar .sideCatalog-sidebar-top {
	top: 0;
	cursor: pointer;
}

#sideCatalog-sidebar .sideCatalog-sidebar-top:hover {
    background-position: 0 -185px
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    bottom: 0
}

#sideCatalog-catalog {
	height: 325px;
	padding-left: 23px;
	overflow: hidden;
	padding-top: 18px;
	position: relative;
}

#sideCatalog-catalog dl {
	position: relative;
}

.sideCatalog-item, .sideCatalog-item2 {
	position: relative;
	padding: 0 7px;
	zoom: 1;
	margin: 0 0 6px 0;
}

#sideCatalog span.sideCatalog-index {
	color: #999;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
	padding-right: 5px;
}

#sideCatalog .sideCatalog-item a {
	color: #555;
	font-weight: bold;
}

.sideCatalog-dot {
	position: absolute;
	height: 10px;
	width: 6px;
	font-size: 12px;
	line-height: 12px;
	background: transparent url(../../img/sideToolbar.gif) 0 -222px;
	left: -20px;
	top: 4px;
	cursor: pointer;
	overflow: hidden;
}

#sideCatalog .highlight span.sideCatalog-dot {
	height: 13px;
	width: 18px;
	background: transparent url(../../img/sideToolbar.gif) -271px -38px no-repeat;
	left: -23px;
	top: 3px;
}

/** 
 *link 
 */
a {
	text-decoration: none;
}

#sideCatalog .sideCatalog-item1 a {
	color: #555;
	font-weight: bold;
}

#sideCatalog a {
    color: #333;
    text-decoration: none;
    font-weight: 500
}

#sideCatalog a:hover {
    color: #36c;
    text-decoration: underline
}

#sideCatalog .sideCatalog-item1 a:hover,#sideCatalog .sideCatalog-item2 a:hover {
    color: #36c
}



